<p>{{catalog}}</p>
<form class="form-inline">
  <div class="form-group">
    <label >Search</label>
    <input type="text" ng-model="search" class="form-control" placeholder="Search">
  </div>
</form>

<ul class="catalog_list">
  <li dir-paginate="game in games | filter:search| itemsPerPage: 2">
  <!-- <li ng-repeat="game in games"> -->
    <p><a href="#" ng-click="goToGame($event,game.short);"><img src="http://i1.midasplayer.com/images/games/{{game.short}}/{{game.short}}_170x80.gif"></a></p>
    <p>{{ game.name }}</p>
  </li>
</ul>

<dir-pagination-controls 
  max-size="2" direction-links="true" boundary-links="true" >
</dir-pagination-controls>
