<form class="form-inline">
  <div class="form-group">
    <label >Search</label>
    <input type="text" ng-model="search" class="form-control" placeholder="Search">
  </div>
</form>

<ul class="favorite_list">
  <li dir-paginate="favorite in favorites | filter: {hasBoosters:'true'} | filter:search | itemsPerPage: 2">
    <p><a href="http://www.king.com{{favorite.url}}" ng-click="goToGame($event,favorite.short);"><img src="http://i1.midasplayer.com/images/games/{{favorite.short}}/{{favorite.short}}_170x80.gif"></a></p>
    <p>{{ game.name }}</a></p>
  </li>
</ul>

<dir-pagination-controls 
  max-size="2" direction-links="true" boundary-links="true" >
</dir-pagination-controls>