<h1 class="m_heading">{{game.name}}</h1>

<div class="row">
  <div class="col col_3">
    <img src="http://i2.midasplayer.com/images/games/{{game.short}}/tournamentPage/{{game.short}}_764x260.jpg" class="fluid_image">
  </div>

  <div class="col col_1">
    <div class="m_actions">
      <a href="#" class="btn add" ng-hide="game.hasBoosters" ng-click="addTofavorite($event);">Add to favorites</a>

      <a href="#"  class="btn remove" ng-show="game.hasBoosters" ng-click="removeTofavorite($event);">Remove to favorites</a>
    </div>

    <div class="message">{{message}}</div>
  </div>
</div>

<p>
  <a href="http://www.king.com{{game.url}}">{{game.name}}</a>
  
</p>

