.m_search {
  position:relative;
  float:right;
  width: 25%;
  margin-right: 14px;
  border-radius:3px;
  border:1px solid #ff6a00;

  &:before {
    content:"";
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width:20px;
    height: 20px;
    margin-top: -10px;
    background: url("../images/search.svg") no-repeat left top;
    background-size: 16px 20px;
  }

  label {
    display: none;
  }

  input {
    display: inline-block;
    box-sizing:border-box;
    padding: 8px 8px 8px 36px;
    width: 100%;
    border:none;
    font-size: 14px;
    border-radius:3px;
    color:#3d3d3d;
  }

}

.m_games {

  li {
    width: 20%;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing:border-box;
    text-align:center;
  }

  a {
    display: inline-block;
  }

  a:hover {

    .m_games_title {
      color:#ff6a00;
    }
  }

}

.m_games_title {
  display: block;
  margin:10px 0;
  font-size: 14px;
  color:#3d3d3d;
}

.m_heading {
  margin:70px 0 40px 10px;
  font-family: 'Roboto', sans-serif;
  font-size:40px;
  font-weight:400;
  color:#ff6a00;
}

.m_pagination {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 20px 0;
  text-align: center;
  border:1px solid #ff6a00;
  border-radius:3px;

  li {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height:30px;
    font-size: 14px;
    font-weight: 600;
    border-right:1px solid #ff6a00;

    &:hover {
      background-color:#ffcb93;
    }
  }

  li.active {
    background-color:#ff6a00;

    a {
      color:#fff;
    }
  }

  li:last-child {
    border-right:none;
  }

  a {
    display:block;
    color:#ff6a00;

  }
}

.btn {
  display: inline-block;
  padding:10px 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius:4px;
  color:#fff;
  transition:background-color 0.3s ease-in-out;

  &.add {
    background-color:#fe7c02;

    &:hover {
      background-color:#ed7504;
    }
  }

  &.remove {
    background-color:#c9302c;

    &:hover {
      background-color:#b52a27;
    }
  }

  &.game {
    background-color:#fff;
    color:#fe7c02;
    text-align: center;
  }
}

.m_actions {
  padding-top:20px;
  text-align: center;
}

.m_message {
  margin: 20px;
  padding: 20px;
  border-radius:3px;
  font-size:14px;
  background-color:#00b67d;
  color:#fff;
  text-align: center;
}

.m_info_game {
  position: relative;
}

.m_info_game_content {
  box-sizing:border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  background: rgba(254, 124, 2, 0);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-left:-70px;
    margin-top:-30px;
    min-width: 100px;
    font-size: 18px;
  }
}
.m_info_game:hover {

  .m_info_game_content {
    opacity:1;
    background: rgba(254, 124, 2, .5);
    
  }

}
