.m_search {
  position:relative;
  float:right;
  width: 25%;
  margin-right: 14px;
  border-radius:3px;
  border:1px solid #ff6a00;

  &:before {
    content:"";
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width:20px;
    height: 20px;
    margin-top: -10px;
    background: url("../images/search.svg") no-repeat left top;
    background-size: 16px 20px;
  }

  label {
    display: none;
  }

  input {
    display: inline-block;
    box-sizing:border-box;
    padding: 8px 8px 8px 36px;
    width: 100%;
    border:none;
    font-size: 14px;
    border-radius:3px;
    color:#3d3d3d;
  }

}

.m_games {

  li {
    width: 20%;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing:border-box;
    text-align:center;
  }

  a {
    display: inline-block;
  }

  a:hover {

    .m_games_title {
      color:#ff6a00;
    }
  }

}

.m_games_title {
  display: block;
  margin:10px 0;
  font-size: 14px;
  color:#3d3d3d;
}

.m_heading {
  margin:70px 0 40px 10px;
  font-family: 'Roboto', sans-serif;
  font-size:40px;
  font-weight:400;
  color:#ff6a00;
}

.m_pagination {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 20px 0;
  text-align: center;
  border:1px solid #ff6a00;
  border-radius:3px;

  li {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height:30px;
    font-size: 14px;
    font-weight: 600;
    border-right:1px solid #ff6a00;

    &:hover {
      background-color:#ffcb93;
    }
  }

  li.active {
    background-color:#ff6a00;

    a {
      color:#fff;
    }
  }

  li:last-child {
    border-right:none;
  }

  a {
    display:block;
    color:#ff6a00;

  }
}