@media (max-width: 736px) {

  .m_heading {
    margin: 0px 0 26px 10px;
    font-size: 32px;
  }

  .m_games li {
    width: 50%;

    > * {
      padding:10px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .col {
    float: none;
    display: block;
    box-sizing:border-box;
    width: 100%;
    padding:0 10px;
  }

  .m_info_game_content {
    left:10px;
    right: 10px;

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 10px 20px;
      margin-left:-33px;
      margin-top:-20px;
      min-width: 0;
      font-size: 14px;
    }
  }
  

}