@import "normalization.scss";
@import "layout.scss";
@import "modules.scss";

.fluid_image {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.hide-add-start {
  transition: opacity 1s;
  opacity: 0;
}

.hide-remove {
  transition: opacity 1s;
  opacity: 0;
}
.hide-remove-active {
  opacity: 1;
}